/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FF3811;
}

@layer base {
    html::-webkit-scrollbar {
        width: 10px;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        @apply bg-primary
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-Inter bg-white
    }
}